body{
  margin:0px;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  }
.texto{
  float: left;
  margin-left: 40%;
  margin-top: 1%;
  }
.texto input{
  float: left;
  width: 110%;
  }
input:hover{
  background-color:#ededed;
  }
input{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color:#8c8c8c;
  font-size: 19px;
  margin-bottom: 12px;
  margin-top: -4px;
  }
img{
  float: left;
  margin-left: 40%;
  margin-top: 12px;
  }
label{
  margin-top: 6px;
  }
p{
  margin-top: 2px;
  margin-bottom: 12px;
  }
.boton{
    border-radius: 5px;
    margin-top: 14px;
  }
@media only screen and (min-width: 300px) and (max-width: 470px) {
  body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    }
  .texto{
    float: left;
    margin-left: 3px;
    margin-top: 1%;
    }
  .texto input{
    float: left;
    width: 110%;
    }
  input:hover{
    background-color:#ededed;
    }
  input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color:#8c8c8c;
    font-size: 19px;
    margin-bottom: 12px;
    margin-top: -4px;
    }
  img{
    float: left;
    margin-top: 12px;
    margin-left: 8%;
    width: 10%
    }
  label{
    margin-top: 6px;
    }
  p{
    margin-top: 2px;
    margin-bottom: 12px;
    }
  .boton{
      border-radius: 5px;
      margin-top: 14px;
    }
}
