body{
  margin:0px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  }
#fondo{
  width: 100%;
  height: 100%;
  float: left;
  }
.submit{
  border-radius: 5px;
  width: 65px;
  height: 35px;
  margin-left: 100px;
  margin-top: 15px;
  font-size: 18px;
  }
.submit:hover{
  background-color: #c9c9c9;
  }
input:hover{
  background-color:#ededed;
  }
input{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color:#8c8c8c;
  font-size: 18px;
  }
.div1{
  float: left;
  width: 30%;
  margin-left: 0px;
  height: auto;
  background-color: red;
  }
.div2{
  display: block;
  margin-left: 12%;
  margin-top: 15%;
  float: left;
  }
img{
  margin-left: 16%;
  margin-top: 60%;
  height: 100%;
  width: 62%;
  margin-bottom: 46vh;
  }
#dni_txt{
  height: 25px;
  width:450px;
  }
#psw{
  margin-right:370px;
  margin-top:45px;
  }
#psw_txt{
  height: 25px;
  width:450px;
  }
#fr_pw{
  margin-right:25px;
  }
#rt_log{
  margin-right: 25px;
  }
@media only screen and (max-width: 996px) {
  body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    }
  #fondo{
    float: left;
    width:100%;
    height:100%;
    }
  .submit{
    float: right;
    border-radius: 5px;
    width: 65px;
    height: 35px;
    font-size: 18px;
    margin-left: 200px;
    }
  .submit:hover{
    background-color: #c9c9c9;
    }
  input:hover{
    background-color:#ededed;
    }
  input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color:#8c8c8c;
    font-size: 22px;
    }
  .div1{
    float: left;
    width: 100%;
    margin-left: 0px;
    height: auto;
    background-color: red;
    }
  .div2{
    width: 100%;
    height: 100%;
    margin-top: 15%;
    margin-left: 15%;
    float: left;
    }
  .div3{
    width: 65%;
    margin: 0px;
    }
  img{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 4%;
    display: block;
    margin-bottom: 10px;
    width: 70%;
    }
  #dni_txt{
    height: 25px;
    width:280px;
    }
  #psw{
    margin-right:370px;
    margin-top:45px;
    }
  #psw_txt{
    height: 25px;
    width:280px;
    }
  #fr_pw{
    margin-right:25px;
    }
  #rt_log{
    margin-right: 25px;
    }
}
