body{
  margin:0px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  }
.tituloForm{
  font-size: 25px;
  }
h2{
  font-size: 32px;
  margin-left:3%;
  margin-bottom: 4px;
  }
.codigoInput{
  height:25px;
  width: 150px;
  font-size: 16px;
  }
.validarInput{
  height:30px;
  font-size: 16px;
  }
hr{
  color:#ffffff;
  }
#userInfo{
  float:right;
  margin-right:10%;
  margin-top:1%;
  }
#nivel{
  border-style: solid;
  border-width: 2px;
  border-color:#f1bd12;
  float:left;
  margin-right:25px;
  padding:3px;
  margin-left:15px;
  border-radius: 8px;
  }
.inNivel{
  float:left;
  text-align: center;
  margin-top: 14px;
  }
#puntosUsuario{
  float:left;
  padding-top:10px;
  padding-bottom:15px;
  border-style: solid;
  border-width: 2px;
  border-color:#8f18ad;
  height: 56px;
  width:125px;
  text-align: center;
  border-radius: 8px;
  margin-left: 4px;
  }
.InUsuario{
  float:left;
  text-align: center;
  margin-left: 3px;
  margin-top: 6px;
  }
#bronceM{
  width:50px;
  }
#userimg{
  float:right;
  width:50px;
  margin-right:-50px;
  }
#intCodigo{
  float:left;
  margin-left:3%;
  margin-top:5%;
  margin-bottom:3%;
  }
input[type="text"] {
  width: 250px;
  text-align: center;
  }
input[type="submit"] {
  width:100px;
  background-color: rgba(255, 255, 255, 0.781);
  border-style: solid;
  border-width: 0.5px;
  border-color:#000000;
  color:#050505;
  }
input:hover[type="submit"] {
  width:100px;
  background: rgb(0, 0, 0);
  border-style: solid;
  border-width: 0.5px;
  border-color:#ffffff;
  color:white;
  }
#info{
  margin-top:1%;
  }
.verde{
  color:#0e8b34
  }
#ofertabronce{
  width:100%;
  float: left;
  }
#oferta1{
  width:16%;
  margin-left:3%;
  float:left;
  }
#ofertas1txt{
  margin-left:2%;
  font-size: 18px;
  float:left;
  line-height: 30px;
  }
#ofertasplata{
  width:100%;
  float: left;
  margin-top:2%;
  }
#ofertasoro{
  width:100%;
  float: left;
  margin-top:2%;
  }
.rojo{
  color:#bd2f3b;
  margin-top: 11px;
  }
a:link{
  color:#52adce;
  text-decoration: none;
  }
a:hover{
  color:#52adce;
  text-decoration: underline;
  }
@media only screen and (max-width: 500px) {
  body{
    margin:0px;
    font-family: 'Roboto', sans-serif;;
    font-size: 18px;
    }
  #userInfo{
    float:left;
    margin-left: 2%;
    margin-top:2%;
    }
  #nivel{
    border-style: solid;
    border-width: 2px;
    border-color:#f1bd12;
    float:left;
    margin-right:15px;
    padding:3px;
    margin-left:2px;
    }
  .inNivel{
    float:left;
    text-align: center;
    margin-top: 16px;
    }
  #puntosUsuario{
    float:left;
    padding-top:10px;
    margin-left: 20px;
    border-style: solid;
    border-width: 2px;
    border-color:#8f18ad;
    height: 56px;
    width:125px;
    text-align: center;
    margin-right: 8px;
    }
  #oferta1{
    width:36%;
    height: 25%;
    margin-left:3%;
    float:left;
    }
  #ofertas1txt{
    margin-left:1%;
    float:left;
    line-height: 28px;
    }
  #ofertasplata{
    width:100%;
    float: left;
    margin-top:2%;
    }
  #ofertasoro{
    width:100%;
    float: left;
    margin-top:2%;
    }
  .codigoInput{
    height:25px;
    width: 150px;
    font-size: 19px;
    border: 1px solid;
    }
  .validarInput{
    height:30px;
    font-size: 19px;
    }
}
@media only screen and (max-width: 380px) {
  body{
    margin:0px;
    font-family: 'Roboto', sans-serif;;
    font-size: 18px;
    }
  .tituloForm{
    font-size: 20px;
    }
  h2{
    font-size: 28px;
    margin-left:3%;
    margin-bottom: 4px;
    }
  .codigoInput{
    height:25px;
    width: 150px;
    font-size: 16px;
    }
  .validarInput{
    height:30px;
    font-size: 19px;
    }
  hr{
    width: 90%
    color:#ffffff;
    }
  #userInfo{
    float:left;
    margin-right:10%;
    margin-left: 2px;
    margin-top:2%;
    }
  #nivel{
    border-style: solid;
    border-width: 2px;
    border-color:#f1bd12;
    float:left;
    margin-right:10px;
    padding:3px;
    margin-left:0px;
    }
  .inNivel{
    float:left;
    text-align: center;
    margin-top: 12px;
    }
  #puntosUsuario{
    float:left;
    padding-top:10px;
    margin-right: 6px;
    margin-left: 0px;
    border-style: solid;
    border-width: 2px;
    border-color:#8f18ad;
    height: 56px;
    width:125px;
    text-align: center;
    }
    .InUsuario{
      margin-top: 5px;
      margin-left: 0px;
    }
  #bronceM{
    width:50px;
    }
  #userimg{
    float:left;
    width:50px;
    margin-right:-60px;
    margin-top: 2%;
    }
  #intCodigo{
    float:left;
    margin-left:3%;
    margin-top:5%;
    margin-bottom:3%;
    }
  input[type="text"] {
    width: 200px;
    text-align: center;
    font-size: 18px;
    border-width: 1px;
    border-style: solid;
    }
  input[type="submit"] {
    width:100px;
    background-color: rgba(255, 255, 255, 0.781);
    border-style: solid;
    border-width: 0.5px;
    border-color:#000000;
    color:#050505;
    }
  input:hover[type="submit"] {
    width:100px;
    background: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0.5px;
    border-color:#ffffff;
    color:white;
    }
  #info{
    margin-top:1%;
    }
  #ofertabronce{
    width:100%;
    float: left;
    }
  #oferta1{
    width:36%;
    height: 25%;
    margin-left:3%;
    float:left;
    }
  #ofertas1txt{
    margin-left:1%;
    float:left;
    line-height: 28px;
    }
  #ofertasplata{
    width:100%;
    float: left;
    margin-top:2%;
    }
  #ofertasoro{
    width:100%;
    float: left;
    margin-top:2%;
    }
  .verde{
    color:#0e8b34;
    font-size: 17px;
    }
  .rojo{
    color:#bd2f3b;
    margin-top: 11px;
    font-size: 17px;
    }
  a:link{
    color:#52adce;
    text-decoration: none;
    }
  a:hover{
    color:#52adce;
    text-decoration: underline;
    }
}
@media only screen and (max-width: 330px) {
  body{
    margin:0px;
    font-family: 'Roboto', sans-serif;;
    font-size: 17px;
    }
  #userInfo{
    float:left;
    margin-left: 0%;
    margin-top:2%;
    }
  #nivel{
    border-style: solid;
    border-width: 2px;
    border-color:#f1bd12;
    float:left;
    margin-right:0px;
    padding:2px;
    margin-left:2px;
    }
  #userimg{
    float:left;
    width:40px;
    margin-right:-55px;
    margin-top: 4%;
    }
  .inNivel{
    float:left;
    text-align: center;
    margin-top: 12px;
    }
  #puntosUsuario{
    float:left;
    padding-top:6px;
    margin-left: 1px;
    margin-top: 1px;
    border-style: solid;
    border-width: 2px;
    border-color:#8f18ad;
    height:54px;
    width:115px;
    text-align: center;
    margin-right: 1px;
    }
  .InUsuario{
    margin-top: 8px;
    margin-left: 0px;
    }
  #oferta1{
    width:36%;
    height: 25%;
    margin-left:30%;
    float:left;
    }
  #ofertas1txt{
    margin-left:1%;
    float:left;
    line-height: 28px;
    font-size: 20px;
    margin-top: 8%;
    margin-bottom: 1%;
    }
  #ofertasplata{
    width:100%;
    float: left;
    margin-top:2%;
    }
  #ofertasoro{
    width:100%;
    float: left;
    margin-top:2%;
    }
  .codigoInput{
    height:25px;
    width: 150px;
    font-size: 19px;
    border: 1px solid;
    }
  .validarInput{
    height:30px;
    font-size: 19px;
    }
}
