.button {
  border-radius: 5px;
  width: 70px;
  height: 35px;
}
.button:hover{
  background-color: #c9c9c9;
}
input:hover {
  background-color:#ededed;
}
input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color:#8c8c8c;
}
.div1 {
  margin-top:15px;
  margin-left:650px;
}
img {
  width:250px;
  height:110px;
}
form {
  margin-left:550px;
  padding-top:100px;
}
#dni_txt {
  width:450px;
}
#psw {
  margin-right:370px;
  margin-top:45px;
}
#psw_txt {
  width:450px;
}
.div2 {
  margin-left:145px;
  margin-top:35px;
}
#fr_pw {
  margin-right:25px;
}
.div3 {
  margin-top:35px;
  margin-right: 15px;
}
#rt_log {
  margin-right: 25px;
}
